version: 2

updates:
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "01:00"
      timezone: Europe/Bratislava
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      github-actions:
        patterns:
          - "*"
    cooldown:
      default-days: 1
