# TODO: cleanup dependencies
grip
yamllint

# bashate
# autopep8
# Click
# Cython
# Faker
# flake8
# Flask
# GitMan
# mypy
# mypy-extensions
# pycodestyle
# pylint
# pystache
# pytest
# setuptools
# SimpleHTTP404Server
# Transcrypt
# wheel
